<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company" class="mx-auto h-10 w-auto dark:hidden" />
    <img src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company" class="mx-auto h-10 w-auto hidden dark:block" />
    <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900 dark:text-white">Create your account</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <% if alert = flash[:alert] %>
      <div class="mb-6 rounded-md bg-red-50 dark:bg-red-900/50 p-4">
        <p class="text-sm font-medium text-red-800 dark:text-red-200" id="alert"><%= alert %></p>
      </div>
    <% end %>

    <% if notice = flash[:notice] %>
      <div class="mb-6 rounded-md bg-green-50 dark:bg-green-900/50 p-4">
        <p class="text-sm font-medium text-green-800 dark:text-green-200" id="notice"><%= notice %></p>
      </div>
    <% end %>

    <% if @user.errors.any? %>
      <div class="mb-6 rounded-md bg-red-50 dark:bg-red-900/50 p-4">
        <h3 class="text-sm font-medium text-red-800 dark:text-red-200"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>
        <ul class="mt-2 list-disc list-inside text-sm text-red-700 dark:text-red-300">
          <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_with model: @user, class: "space-y-6" do |form| %>
      <div>
        <%= form.label :email_address, "Email address", class: "block text-sm/6 font-medium text-gray-900 dark:text-gray-100" %>
        <div class="mt-2">
          <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "email", class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-indigo-500" %>
        </div>
      </div>

      <div>
        <%= form.label :password, "Password", class: "block text-sm/6 font-medium text-gray-900 dark:text-gray-100" %>
        <div class="mt-2">
          <%= form.password_field :password, required: true, autocomplete: "new-password", maxlength: 72, class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-indigo-500" %>
        </div>
      </div>

      <div>
        <%= form.label :password_confirmation, "Confirm password", class: "block text-sm/6 font-medium text-gray-900 dark:text-gray-100" %>
        <div class="mt-2">
          <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", maxlength: 72, class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-indigo-500" %>
        </div>
      </div>

      <div>
        <%= form.submit "Sign up", class: "flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 dark:bg-indigo-500 dark:shadow-none dark:hover:bg-indigo-400 dark:focus-visible:outline-indigo-500 cursor-pointer" %>
      </div>
    <% end %>

    <p class="mt-10 text-center text-sm/6 text-gray-500 dark:text-gray-400">
      Already have an account?
      <%= link_to "Sign in", new_session_path, class: "font-semibold text-indigo-600 hover:text-indigo-500 dark:text-indigo-400 dark:hover:text-indigo-300" %>
    </p>
  </div>
</div>
